<a href='/course/list'>Courses List</a>
<a href='/'>Homepage</a>
<br>
<br>
<form action="/course/add" method="POST">
    <p>
        <label>Course Name</label><input value="" name="courseName" /><br />
        <label>Course Duration</label><input value="" name="courseDuration" /><br />
        <label>Course Fees</label><input value="" name="courseFees" />
        <button type="submit">Add Course</button>
    </p>
    <p style="font-size: 36px; color: green;">{{message}}</p>
</form>